<%= render "shared/menunavbar" %>


<table>
<tr>
  <td>分類</td>
  <td>照片</td>
  <td>名稱</td>
  <td>價格</td>
  <td>備註</td>
</tr>

<% @menus.each do |menu| %>
<tr>
  <td><%= Classification.find(menu.classification_id).name %></td>
  <td><%= menu.photo%></td>
  <td><%= menu.name %></td>
  <td><%= menu.price%></td>
  <td><%= menu.note%></td>
</tr>
<% end %>

</table>
<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
  <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"><%= @store.name %>Store Menu</h1>
    <% @menus.each do |menu| %>
      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        <div class="lg:flex">
          <%= image_tag menu.image_resize("200x200"), class:"object-cover w-full h-56 rounded-lg lg:w-64" %>

          <div class="flex flex-col justify-between py-6 lg:mx-6">
              <%= link_to menu.name , store_menu_path(menu , @store) , class:"text-xl font-semibold text-gray-800 hover:underline dark:text-white "%>
              <p>
                <%= menu.note %>
              </p>
              <span class="self-end text-md gray-500 text- dark:text-gray-100"><%= menu.price %></span>

            <div class="flex">
              <%= link_to "修改" , edit_store_menu_path(@store ,menu) ,class:"mx-2" %>
              
              <%= link_to "刪除" , store_menu_path(@store ,menu) ,method: "DELETE" , class:"mx-2" %>
            </div>
        
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

