<%= render "shared/menunavbar" %>


<table>
<tr>
  <td>照片</td>
  <td>名稱</td>
  <td>價格</td>
  <td>備註</td>
</tr>

<% @menus.each do |menu| %>
<tr>
  <td><%= menu.photo%></td>
  <td><%= menu.name %></td>
  <td><%= menu.price%></td>
  <td><%= menu.note%></td>
</tr>
<% end %>

</table>


