<%= render "shared/menunavbar" %>





<nav></nav>


<section class="px-10">
  <h1 class="mb-2 text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"><%= @store.name %>Store Menu</h1>
  <div class="grid-cols-2 overflow-hidden bg-white max-w-fullmx-auto sm:grid ">
    <% @menus.each do |menu| %>
      <div class="w-full mb-2 shadow rounded-xl md:flex">
        <div class="overflow-hidden rounded-xl md:flex-shrink-0">
          <%= image_tag menu.image_resize("200x200"), class:"object-cover w-full h-48 md:w-48" %>
        </div>
        <div class="flex-col p-8 md:flex">
          <div class="text-sm font-semibold tracking-wide text-indigo-500 uppercase">
            <%= Classification.find(menu.classification_id).name %>
          </div>
          <div>
            <%= link_to menu.name , store_menu_path(menu , @store) , class:"block mt-1 text-lg font-medium leading-tight hover:underline"%>
          </div>
          <p class="mt-2 text-gray-500"><%= menu.note %></p>
          <div class=""><%= menu.price %></div>
        </div>
      </div>
    <% end %>
  </div>
</section> 