<%= render "shared/menunavbar" %>


<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
  <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"><%= @store.name %>Store Menu</h1>
    <div class="grid grid-cols-1 gap-4 mt-8 md:mt-16 md:grid-cols-2">
      <% @menus.each do |menu| %>
        <div class="flex flex-col lg:flex-row">
          <%= image_tag menu.image_resize("200x200"), class:"object-cover h-full rounded-lg"  %>
            <div class="flex flex-col">
              <div><%= link_to menu.name , store_menu_path(menu , @store) , class:"text-xl font-semibold text-gray-800 hover:underline dark:text-white "%></div>
              <div><%= Classification.find(menu.classification_id).name %></div>
              <div><%= menu.note %></div>
              <div class="self-end justify-self-end text-md gray-500 dark:text-gray-100"><%= menu.price %></div>
              <div class="flex">
                <div class="text-white bg-blue-500 rounded" ><%= link_to "修改" , edit_store_menu_path(@store ,menu) ,class:"mx-2" %></div>
                <div class="text-white bg-blue-500 rounded"><%= link_to "刪除" , store_menu_path(@store ,menu) ,method: "DELETE" , class:"mx-2" %></div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

