<header class="flex flex-shrink-0">
  <div class="flex items-center w-full p-3 bg-maingray md:px-6">
    <nav class="w-full  flex">
      <div class="flex items-center m-auto w-48 h-7">
        <img src="/photo/wechef-logo-nbg.png" class="mr-2" alt="WeChef Logo" style="aspect-ratio:auto">
      </div>
    </nav>
  </div>
</header>
<!------------- banner ---------------->
<div id="carouselExampleCaptions" class="relative carousel slide" data-bs-ride="carousel">
  <div class="box-border relative w-full overflow-hidden carousel-inner">
    <div class="relative float-left w-full h-md carousel-item active">
      <img src="https://c.pxhere.com/photos/e1/24/wine_table_food_vegetable_cutlery-67342.jpg!d"
        class="block w-full object-cover object-bottom" alt="..." style="aspect-ratio: 12/ 3">
      <div class="absolute hidden text-center carousel-caption md:block">
      </div>
    </div>
    <div class="relative float-left w-full carousel-item ">
      <img src="https://c.pxhere.com/photos/03/1d/restaurant_food_lunch_dinner_salmon_fish_salad_plates-892507.jpg!d"
        class="block w-full object-cover object-center" alt="..." style="aspect-ratio: 12/3">
      <div class="absolute hidden text-center carousel-caption md:block">
      </div>
    </div>
    <div class="relative float-left w-full carousel-item">
      <img src="https://c.pxhere.com/photos/a1/a7/bottle_wine_red_alcohol_couple_dinner_romance_romantic-722584.jpg!d"
        class="block w-full object-cover object-center" alt="..." style="aspect-ratio: 12/ 3 ">
      <div class="absolute hidden text-center carousel-caption md:block">
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 left-0 right-0 flex justify-center p-0 mb-4 carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <button
    class="absolute top-0 bottom-0 left-0 flex items-center justify-center p-0 text-center border-0 carousel-control-prev hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
    type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="inline-block bg-no-repeat carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="absolute top-0 bottom-0 right-0 flex items-center justify-center p-0 text-center border-0 carousel-control-next hover:outline-none hover:no-underline focus:outline-none focus:no-underline"
    type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="inline-block bg-no-repeat carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!------------- classcafication_item ---------------->
<div class="flex w-full py-2 space-x-2 justify-evenly bg-maingray text-mainorange">
  <% @classifications.each do |classification|%>
    <button
      class="inline-block px-5 py-2 md:px-10 md:py-4 transition duration-300 ease-out text-sm md:text-xl font-bold text-center rounded-md text-block pleading-none whitespace-nowrap hover:bg-gray-300 ">
      <%= classification.name%>
    </button>
  <% end %>
</div>
<hr>
<!------------- meun_card ---------------->
<section class="px-5">
  <h1 class="pb-2 mb-3 mt-6 md:my-12 md:pb-5 text-2xl md:text-3xl border-b-2 border-maingray font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white"><%= @store.name %></h1>
  <% @classifications.each do |classification| %>
    <h2 class=" text-xl mb-4 md:text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white">
      <%= classification.name %>
    </h2>
    <div class="max-w-full md:p-5 mx-auto overflow-hidden bg-white grid  md:grid-cols-2">
      <% classification.menus.each do |menu| %>
        <div class="mx-5 mb-5 transition duration-300 ease-out transform shadow-md hover:scale-105  rounded-xl hover:shadow-xl md:flex ">
          <div class="overflow-hidden rounded-t-md md:rounded-xl md:flex-shrink-0">
            <% if menu.avatar.attached? %>
              <%= image_tag menu.avatar ,class:'w-full object-cover md:w-52 md:h-52' %>
            <% end %>
          </div>
          <div class="w-full flex-col px-8 py-6 md:flex">
            <%= link_to menu.name , store_menu_path(@store, menu.id, {serial_number: params[:serial_number]}) ,
            class:"block mt-1 text-lg font-medium leading-tight hover:underline"%>
            <div class="">
              <p class="py-2 mt-2 text-gray-500">
                <%= menu.note %>
              </p>
              <span class="flex justify-end text-xl">
                $<%= menu.price %>
              </span>
            </div>
          </div>  
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="flex w-2/3 m-auto">
    <%= link_to "購物車" , cart_path({serial_number: params[:serial_number]}) ,class:" transition duration-700 ease-out
      py-2 mb-10 shadow-xl text-center rounded-md text-mainorange bg-maingray w-full hover:scale-110
      hover:text-gray-300"%>
  </div>
</section>

<%= render "shared/footer" %>