<h1 class="py-10 font-mono text-5xl font-bold text-center">Sign up</h1>

<section class="max-w-xl mx-auto bg-gray-100 rounded-md shadow-md dark:bg-gray-800">
<div class="h-4 bg-green-400 rounded-t-md w-full"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class=" p-6 grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
      <div class="field">
        <%= f.label :"Nick Name" ,class:"text-block dark:text-gray-200" %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
      </div>

      <div class="field">
        <%= f.label :email, class:"text-block dark:text-gray-200" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
      </div>
      

      <div class="field">
        <%= f.label :password ,class:"text-block dark:text-gray-200" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation ,class:"text-block dark:text-gray-200" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
      </div>
      
      <div class="field flex align-center justify-center">
        <%= f.radio_button :role, "user" , class:"w-5 h-5 text-blue-600 bg-gray-100  border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
        <%= f.label :"消費者" ,class:"text-block dark:text-gray-200 mx-4" %><br />

        <%= f.radio_button :role, "vender" ,class:"w-5 h-5 text-blue-600 bg-gray-100  border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"%>
        <%= f.label :"店家" ,class:"text-block dark:text-gray-200 mx-4" %><br />
      </div>
    </div>

    <div class="flex justify-center mt-6">
      <%= link_to "Back", :back ,class:"px-6 py-2 mx-2 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600 hover:scale-105" %>

      <%= f.submit 'Sign up' , class:"px-6 py-2 mx-2 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600 hover:scale-105 "%>
    </div>

    <div class="flex justify-center mt-6">
      <%= render "devise/shared/links" %>
    </div>

  <% end %>
</section>