<div class="flex flex-col h-screen">
  <div class="flex overflow-x-hidden h-screen">
    <div class="w-1/5 bg-gray-100 ">
      <nav>
        <h2 class="w-full my-4 text-xl font-semibold tracking-wide text-center text-gray-700 uppercase"><%= @store.name %></h2>
        <h2 class="font-semibold tracking-wide text-center mb-4 text-gray-600 uppercase text-md">餐廳資訊</h2>
        <div class="mb-1">
          <span class="flex items-center px-2 py-1 font-medium text-gray-700 rounded-lg
            text-md hover:bg-gray-300">電話：<%= @store.tel %></span>
        </div>
        <div class="mb-1">
          <span class="flex items-center px-2 py-1 font-medium text-gray-700 rounded-lg
            text-md hover:bg-gray-300">地址：<%= @store.address %></span>
        </div>
        <div class="mb-1 flex flex-col items-start px-2 py-1 font-medium text-gray-700 rounded-lg
            text-md">
          <span>營業時間（起）： <%= @store.time_start.strftime("%H:%M")%></span>
        </div>
        <div class="mb-1 flex flex-col items-start px-2 py-1 font-medium text-gray-700 rounded-lg
            text-md">
          <span>營業時間（迄）： <%= @store.time_end.strftime("%H:%M")%></span>
        </div>
        <div class="mb-2" data-controller="dropdown">
          <button type="button" data-action="click->dropdown#siderbarbtn" data-dropdown-target="btn"
            class="flex font-medium items-center w-full text-base font-normal text-gray-700 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white dark:hover:bg-gray-700">
            <span class="flex-1 text-left p-2 whitespace-nowrap" sidebar-toggle-item>頁面連結</span>
            <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd">
              </path>
            </svg>
          </button>
          <ul id="dropdown-example-1" data-dropdown-target="dropdown-btn" class="hidden py-2 space-y-2">
            <li>
              <div class="flex items-center">
                <%= link_to "菜單管理" ,store_menus_path(@store) ,class:'p-2 pl-11 w-full text-base font-normal
                  text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white
                  dark:hover:bg-gray-700'%>
              </div>
            </li>
            <li>
              <div class="flex">
                <%= link_to "分類管理" ,store_classifications_path(@store) ,class:'p-2 pl-11 w-full text-base font-normal
                  text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white
                  dark:hover:bg-gray-700'%>
              </div>
            </li>
            <li>
              <div class="flex">
                <%= link_to "餐桌管理" ,store_path(@store) ,class:'p-2 pl-11 w-full text-base font-normal
                  text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white
                  dark:hover:bg-gray-700'%>
              </div>
            </li>
          </ul>
        </div>
        <div class="mb-1" data-controller="dropdown">
          <button type="button" data-action="click->dropdown#siderbarbtn" data-dropdown-target="btn" class="flex font-medium items-center w-full text-base font-normal text-gray-700 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white dark:hover:bg-gray-700">
            <span class="flex-1 text-left p-2 whitespace-nowrap" sidebar-toggle-item>主要功能</span>
            <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd">
              </path>
            </svg>
          </button>
          <ul id="dropdown-example-2" class="hidden py-2 space-y-2"  data-dropdown-target="dropdown-btn">
            <li>
              <div class="flex items-center">
                <%= link_to "新增桌位" , new_store_desk_path(@store) ,class:'p-2 pl-11 w-full text-base font-normal
                  text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white
                  dark:hover:bg-gray-700'%>
              </div>
            </li>
            <li>
              <div class="flex">
                <%= link_to "新增分類" ,new_store_classification_path(@store) ,class:'p-2 pl-11 w-full text-base
                  font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white
                  dark:hover:bg-gray-700'%>
              </div>
            </li>
            <li>
              <div class="flex">
                <%= link_to "新增菜單" , new_store_menu_path(@store) ,class:'p-2 pl-11 w-full text-base font-normal
                  text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-300 dark:text-white
                  dark:hover:bg-gray-700'%>
              </div>
            </li>
          </ul>
        </div>
        <div class="mt-4">
          <h2 class="font-semibold tracking-wide mb-4 text-center text-gray-600 uppercase">會員管理</h2>
          <div class="mb-1">
            <%= link_to "修改使用者資料" , edit_user_registration_path , class:"flex items-center px-2 py-1 font-medium text-gray-700 rounded-lg text-md hover:bg-gray-300"%>
          </div>
          <div class="mb-1">
            <%= link_to "使用者登出" , destroy_user_session_path , method: 'DELETE' , data:{confirm: "Are you sure? "},class:"flex text-red-600 items-center px-2 py-1 font-medium text-gray-600 rounded-lg text-md hover:bg-gray-300" %>
          </div>
        </div>
      </nav>
    </div>
    <main class="grid items-center w-full grid-cols-1  gap-1 p-3 text-sm bg-gray-200 lg:p-5 xl:text-lg md:grid-cols-4 md:grid-rows-6 lg:grid-cols-6 lg:grid-rows-8 md:gap-3">
      <% @desks.each do |desk| %>
        <section class="box-border p-4 mt-auto text-center bg-red-100 md:rounded-lg hover:bg-red-200 hover:scale-110" data-controller="update-order" data-update-order-desk-id-value="<%= desk.id %>">
          <div>桌位：<%= desk.name %></div>
          <span class="bg-green-100" >
            <%= link_to "編輯" , edit_store_desk_path(@store, desk.id) %>
          </span>
          <span class="mx-2 bg-blue-100">
            <%= link_to "刪除" , 
            store_desk_path(@store, desk.id), 
            method: "delete" , 
            data: {confirm: "確定刪除？"} %>
          </span>
          <span class="bg-yellow-100">
            <%= link_to "QRCode" , store_desk_path(@store, desk.id) %>
          </span>
          <ul id="<%= dom_id desk %>">
            <% order_sort(desk).each do |order| %>
              <% if order.aasm_state != "served" %>
                <%= render "order", order: order %> 
              <% end %>
            <% end %>
          </ul>
        </section>
      <% end %>
    </main>
  </div>
</div>