<%= form_with(model: menu , url: store_menus_path(@store)) do |f| %>

  <div>
    <%= f.label :classification_id, "分類" %>
    <%= f.select :classification_id, Classification.all.map{ |c| [c.name, c.id] } %>
  </div>

  <div>
    <%= f.label :photo ,"商品圖片"%>
    <%= f.url_field :photo %>
  </div>
  
  <div>
    <%= f.label :name ,'菜名'%>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :price ,'單價'%>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :note ,'備註'%>
    <%= f.text_area :note %>
  </div>

  
  <%= f.submit %>
<% end %>
