
<section class="max-w-4xl mx-auto bg-gray-100 rounded-md shadow-md dark:bg-gray-800">
  <div class="h-3 mb-3 bg-green-400 rounded-t-md"></div>
  <%= form_with( model: store ) do |f| %>
    <h1 class="text-xl px-3 font-bold capitalize text-block dark:text-block">新增店家頁面</h1>
      <div class="grid grid-cols-1 gap-6 p-6 mt-4 sm:grid-cols-2">
        <div>
          <%= f.label :name ,'店家名稱' ,class:"text-block dark:text-gray-200" %>
          <%= f.text_field :name ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
        </div>
        
        <div>
          <%= f.label :tel ,'店家電話' ,class:"text-block dark:text-gray-200" %>
          <%= f.phone_field :tel ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
        </div>

        <div>
          <%= f.label :business_start ,'開始營業時間' ,class:"text-block dark:text-gray-200" %>
          <%= f.datetime_field :business_start ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
        </div>
        
        <div>
          <%= f.label :business_end ,'結束營業時間' ,class:"text-block dark:text-gray-200" %>
          <%= f.datetime_field :business_end ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
        </div>


        <div>
          <%= f.label :address ,'店家地址' ,class:"text-block dark:text-gray-200" %>
          <%= f.text_field :address ,class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"%>
        </div>

        <div class="flex justify-end mt-6">
          <%= f.submit '回商店頁' , class:"px-6 py-2 mx-2 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600 hover:scale-105"%>

          <%= f.submit '新增商店' , class:"px-6 py-2 mx-2 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600 hover:scale-105 "%>
        </div>
      </div>
  <% end %>  
</section>