<h1>desks#index</h1>
<%= link_to "新增桌位", new_store_desk_path %>
<hr>
<div>
  <% @desks.each do |desk| %>
    <section class="inline-block px-5 py-5 bg-red-100">
      <div>桌位：<%= desk.name %></div>
      <div>座位數量：<%= desk.seat_amount %></div>
      <span class="bg-green-100"><%= link_to "編輯", edit_store_desk_path(@store, desk.id) %></span>
      <span class="bg-blue-100"><%= link_to "刪除", store_desk_path(@store, desk.id), method: "delete", data: {confirm: "確定刪除？"} %></span>
      <span class="bg-yellow-100"><%= link_to "QRCode", store_desk_path(@store, desk.id) %></span>
    </section>
  <% end %>
</div>
