<h1 class="py-10 mt-12 font-mono text-5xl font-bold text-center">付款方式</h1>

<section class="max-w-4xl mx-auto bg-gray-100 rounded-md shadow-md dark:bg-gray-800">
<div class="h-3 bg-green-400 rounded-t-md"></div>
  <div class="flex py-6 pt-6 justify-evenly">
    <button class="px-6 py-2 mx-2 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600 hover:scale-105">
      <%= link_to "現金支付", url:"#" %>
    </button>
  
    <%= form_with url: "https://ccore.spgateway.com/MPG/mpg_gateway" do |form| %>
      <input type="hidden" id="MerchantID" name="MerchantID" value="<%= @form_MerchantID %>">
      <input type="hidden" id="TradeInfo" name="TradeInfo" value="<%= @form_TradeInfo %>">
      <input type="hidden" id="TradeSha" name="TradeSha" value="<%= @form_TradeSha %>">
      <input type="hidden" id="RespondType" name="RespondType" value="JSON">
      <input type="hidden" id="TimeStamp" name="TimeStamp" value="<%= @order.created_at %>">
      <input type="hidden" id="Version" name="Version" value="1.5">
      <input type="hidden" id="MerchantOrderNo" name="MerchantOrderNo" value="<%= @order.serial %>">
      <input type="hidden" id="Amt" name="Amt" value="<%= @order.amount %>" >
      <input type="hidden" id="ItemDesc" name="ItemDesc" value="<%= @order.name %>">
      <input type="hidden" id="Email" name="Email" value="<%= @order.email %>">
      <input type="hidden" id="LoginType" name="LoginType" value="0">
    
    <button class="px-6 py-2 mx-2 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600 hover:scale-105">
      <%= form.submit "信用卡支付" %>
    </button>
  
    <% end %>
  </div>
  

</section>
<%= link_to "美式" , store_classifications_path(@store)()%>