<h1>carts#show</h1>
<h1>桌位：<%=@desk.name%></h1>
<h1>訂購人：<%=current_user.nickname%></h1>
<table>
  
  <tr>
    <td>商品名稱</td>
    <td>數量</td>
    <td>單價</td>
    <td>小計</td>
  </tr>
  <% current_cart.items.each do |item| %>
    <tr>
      <td><%= item.menu.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.menu.price %></td>
      <td><%= item.price %></td>
    </tr>
  <% end %>
  <tr>
    <td>總計</td>
    <td><%= current_cart.total_price %></td>
  </tr>
</table>

<%= link_to "繼續選購", "/foods?serial_number=#{params[:serial_number]}" %>
<%= link_to "結帳", "#" %>
<%= link_to '清空購物車', cart_path({serial_number: params[:serial_number]}), method: :delete, data: {confirm: "確定清空購物車？"} %>
