
<!-- component -->
<div class="relative flex flex-col justify-center min-h-screen py-6 overflow-hidden antialiased text-gray-800 bg-gray-50 sm:py-12">
  <div class="relative py-3 mx-auto text-center sm:w-96">
    <span class="text-2xl font-light ">Wechef 餐廳後台管理系統登入</span>
    <div class="mt-4 text-left bg-white rounded-lg shadow-md">
      <div class="h-3 bg-green-400 rounded-t-md"></div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="px-8 py-6 ">
          <div class="field">
            <%= f.label :email , "電子信箱" ,class:"block font-semibold" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full h-3 py-4 mt-2 border rounded-md hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1" ,placeholder:"Enter your email"%>
          </div>
          
          <div class="field">
            <%= f.label :password , "帳號密碼" ,class:"block font-semibold mt-3" %>
            <%= f.password_field :password, autocomplete: "current-password",  class:"w-full h-3 mt-2 py-4 border rounded-md hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1" ,placeholder:"Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          
          <div class="flex items-baseline justify-between">
            <div class="actions">
              <%= f.submit "Login", class:"px-6 py-2 mt-4 text-white bg-green-200 rounded-md hover:bg-green-800 "%>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
