<h1>classifications#edit</h1>
<%# <%= render "form" %> %>

<%= form_with(model: @classification, url: "store_classifications_path(@store)NOTE") do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
